@font-face {
   font-family: 'bicubik-webfont';
   font-display: swap;
   src: url('file:///C:/Users/pljas/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-03-30_020649/fonts/bicubik-webfont/font.woff2');
}
